cache/
config/
crash-reports/
libraries/
logs/
world/
world_nether/
world_the_end/
.console_history
server.properties
*.db
*.log
plugins/AuthMe/authme.db
plugins/AuthMe/authme.log
plugins/SkinsRestorer/
plugins/Essentials/
plugins/AuthMe/
usercache.json
ops.json
plugins/CoreProtect/.license
server.properties
plugins/WorldEdit/.archive-unpack/*
